<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- EDIT CSS/STATIC -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register_style.css' %}">
    <title>Register</title>
</head>
<body>
    <div id="container">
        <h1>Please register!</h1>
        <!-- set required in form -->
        <form class="register" name="form" action="/register" method="post">
            {% csrf_token %}
            <!-- ADJUST BACK BUTTON TO WORK FOR THE PAGE -->
            <a class="back" href="/">X</a>
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li> {{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <input type="text" name="First_Name" placeholder="First Name">
            <input type="text" name="Last_Name" placeholder="Last Name">
            <input type="text" name="Alias" placeholder="Alias">
            <input type="email" name="Email" placeholder="Email">
            <input type="password" name="Password" placeholder="Password">
            <input type="password" name="Confirm_pw" placeholder="Confirm Password">
            <input type="submit" value="Register">
        </form>
        
    </div>
</body>
</html>